@use 'sass:map';

$WIDTH-MAP: (
        '32': 320,
        '42': 425,
        '48': 480,
        '54': 540,
        '64': 640,
        '76': 768,
        '10': 1000,
        '12': 1200,
        '14': 1400,
        '16': 1600,
        '18': 1800,
        '20': 2000,
        '22': 2200,
        '24': 2400
  // '26': 2600,
  // '28': 2800,
  // '30': 3000
) !default;

$WIDTHS: map.values($WIDTH-MAP) !default;
$WIDTH-KEYS: map.keys($WIDTH-MAP) !default;

$MAX-WIDTH-KEY: 18 !default;
$MAX-WIDTH: 9999 !default;
$MIN-WIDTH: 320 !default;
$DEFAULT-WIDTH: 1000 !default;
$DEFAULT-SIDE: 22 !default;
$STICKY-RESIZE: true;